{% extends 'Master.html' %} {% block content %} {% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <section class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="content">
              <h1 class="page-name">Checkout</h1>
              <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">checkout</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="page-wrapper">
      <div class="checkout shopping">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="block billing-details">
                <h4 class="widget-title">Billing Details</h4>
                <form class="checkout-form" id="Billing">
                  {% csrf_token %}
                  <h3 id="msg2" style="background-color:lightgray"></h3>
                  <div class="form-group">
                    <label for="user_address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="" required />
                  </div>
                  <div class="checkout-country-code clearfix">
                    <div class="form-group">
                      <label for="user_post_code">Zip Code</label>
                      <input type="text" class="form-control" id="zipcode" value="" required/>
                    </div>
                    <div class="form-group">
                      <label for="user_city">Country</label>
                      <input type="text" class="form-control" id="country" value="" required/>
                    </div>
                  </div>
                  <div class="checkout-country-code clearfix">
                    <div class="form-group">
                      <label for="user_post_code">State</label>
                      <input type="text" class="form-control" id="state" value="" required/>
                    </div>
                    <div class="form-group">
                      <label for="user_city">City</label>
                      <input type="text" class="form-control" id="city" value="" required/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="user_country">Phone</label>
                    <input type="text" class="form-control" placeholder="" id="phone" required/>
                  </div>
                </div>
                <div class="block">
                  <div class="checkout-product-details">
                    <div class="payment">
                      <div class="card-details">
                          <input type="submit" class="btn btn-main mt-20" value="Save">
                      </div>
                    </div>
                  </div>
              </div>
            </form>
            </div>
            
          <div class="col-md-4">
              <div class="product-checkout-details">
                <div class="block">
                  <h4 class="widget-title">Order Summary</h4>
                  <div class="media product-card">
                    <a class="pull-left" href="product-single.html">
                      <img class="media-object" src="{{item.product.img1.url}}" alt="Image" />
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">
                        <a href="product-single.html">{{item.product.product_name}}</a>
                      </h4>
                      <p class="price">{{item.prod_qty}} x &#8377;{{item.product.price}}</p>
                      <a href="{% url 'item_remove' item.id %}"><span class="remove">Remove</span></a>
                    </div>
                  </div>
                  <ul class="summary-prices">
                    <li>
                      <span>Color :</span>
                      <span class="price">{{item.prod_color}}</span>
                    </li>
                    <li>
                      <span>Size :</span>
                      <span>{{item.prod_size}}</span>
                    </li>
                  </ul>
                  <div class="summary-total">
                    <span>Total</span>
                    <span>&#8377;{{item.total}}</span>
                  </div>
                  <div class="block">
                  <div class="checkout-product-details">
                    <div class="payment">
                      <div class="card-details">
                        <form  class="checkout-form">
                          <a href="confirmation.html" class="btn btn-main mt-20">Place Order</a >
                        </form>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
<script>
   //Billing Details
    $(document).on('submit','#Billing',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:"{% url 'shipping_details' %}",
            data:{
              address:$('#address').val(),
              zipcode:$('#zipcode').val(),
              country:$('#country').val(),
              state:$('#state').val(),
              city:$('#city').val(),
              phone:$('#phone').val(),
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),

            },

            success: function (data) {
                // alert the error if any error occured
                $("#msg2").html(data)

            }
        })
    })
</script>
{% endblock %}