{% extends 'Master.html' %} {% block content %} {% load static %}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Dashboard</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">my account</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="user-dashboard page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-inline dashboard-menu text-center">
					<li><a class="active" href="{% url 'dashboard' %}">Dashboard</a></li>
					<li><a href="{% url 'orders' %}">Orders</a></li>
					<li><a href="{% url 'address' %}">Address</a></li>
					<li><a href="{% url 'profile_details' %}">Profile Details</a></li>
				</ul>
				<div class="dashboard-wrapper user-dashboard">
					<div class="media">
						<div class="pull-left">
							<img class="media-object user-img" src="https://img.freepik.com/free-photo/cheerful-curly-business-girl-wearing-glasses_176420-206.jpg?w=900&t=st=1684740207~exp=1684740807~hmac=447fefb353df483cb7dce00809592575b92687effbea151522caf3ffc90877c3" alt="Image">
						</div>
						<div class="media-body">
							<h2 class="media-heading">Welcome {{request.user.get_full_name}}</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, iure, est. Sit mollitia est maxime! Eos
								cupiditate tempore, tempora omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, nihil. </p>
						</div>
					</div>
					<div class="total-order mt-20">
						<h4>Total Orders</h4>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
									<th>Order ID</th>
									<th>Date</th>
									<!--<th>Items</th>-->
									<th>Total Price</th>
									<th>Status</th>
								</tr>
								</thead>
								<tbody>
									{% for i in order%}
									<tr>
										<td>{{i.id}}</td>
										<td>{{i.date}}</td>
										<td>{{i.tot_price}}</td>
										<td><span class="label label-primary">{{i.status}}</span></td>
										<!--<td><a href="order.html" class="btn btn-default">View</a></td>-->
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}