{% extends 'Master.html' %} {% block content %} {% load static %}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Dashboard</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">my account</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline dashboard-menu text-center">
          <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
					<li><a href="{% url 'orders' %}">Orders</a></li>
					<li><a href="{% url 'address' %}">Address</a></li>
          <li><a class="active"  href="{% url 'profile_details' %}">Profile Details</a></li>
        </ul>
        <div class="dashboard-wrapper dashboard-user-profile">
          <div class="media">
                <div class="pull-left text-center" href="#!">
                  <img class="media-object user-img" src="{% static 'images/avater.jpg' %}" alt="Image">
                  <!--<input type="file" name="avatar" class="media-object user-img">--><br>
                  <button class="btn btn-main mt-20" data-toggle="modal" data-target="#product-modal">Change Image</button>
                  <!--<a href="#x" class="btn btn-transparent mt-20">Change Image</a>-->
                </div>
            <div class="media-body">
              <ul class="user-profile-list">
                <li><span>Full Name:</span>{{request.user.get_full_name}}</li>
                <li><span>Country:</span>{{add.country}}</li>
                <li><span>Email:</span>{{request.user.email}}</li>
                <li><span>Phone:</span>{{add.phone_no}}</li>
                <li><span>Date of Birth:</span>Dec , 22 ,1991</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal product-modal fade" id="product-modal">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<i class="tf-ion-close"></i>
	</button>
  	<div class="modal-dialog " role="document">
    	<div class="modal-content">
	      	<div class="modal-body">
	        	<div class="row">
	        		<div class="col-md-8">
	        			<form method = "post" action="image_upload" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.as_p }}
                    <div class="pull-left text-center" href="#!">
                      <!--<img class="media-object user-img" src="{% static 'images/avater.jpg' %}" alt="Image">-->
                      <div class="form-group">
                        <input type="file" class="form-control"  placeholder="Username" name="avatar">
                      </div>
                      <button type="submit" class="btn btn-main mt-20">Save</button>
                      <!--<a href="#x" class="btn btn-transparent mt-20">Change Image</a>-->
                    </div>
                </form>
	        	</div>
	        </div>
    	</div>
  	</div>
</div>

{% endblock %}