{% extends 'Master.html' %} {% block content %} {% load static %}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Wishlist</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">wishlist</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="page-wrapper">
  <div class="cart shopping">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
            <div class="product-list">
              <form method="post">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="">Item Name</th>
                      <th class="">Item Price</th>
                      <th class="">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for wish in wish_item %}
                    <tr class="">
                      <td class="">
                        <div class="product-info">
                          <img width="80" src="{{wish.img1.url}}" alt="" />
                          <a href="#!">{{wish.product_name}}</a>
                        </div>
                      </td>
                      <td class="">&#8377;{{wish.price}}</td>
                      <td class="">
                        <a class="product-remove" href="{% url 'remove_wish' wish.id %}">Remove</a>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                <a href="" class="btn btn-main pull-right">Continue Shoping..</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}